<h1>Welcome to ScanSkyer!</h1>
<% if @flights %>
  <h2> We found these flights!</h2>
 <% @flights.each do |flight| %>
  <h3> <%= flight.departure_airport.name %> to <%= flight.arrival_airport.name %> : <%= flight.departure_date%> at 
  <%= flight.departure_time.hour %>:<%= flight.departure_time.min < 9 ? "0" + flight.departure_time.min.to_s : flight.departure_time.min %> </h3>
 <% end %>
<% end %>
<%= form_with model: @flight, method: :get do |form| %>
  <%= form.label  :depart_id%>
  <%= form.collection_select :depart_id , @airports, :id, :name %>

  <%= form.label :arrive_id%>
  <%= form.collection_select :arrive_id, @airports , :id, :name %>

  <%= form.label :departure_date%>
  <%= form.collection_select :departure_date, @possible_dates, :departure_date, :departure_date %>

  <%= form.submit %>
<% end %>
