<h1>Your Booking:</h1>

<h2><%= @booking.flight.departure_airport.name %> to <%= @booking.flight.arrival_airport.name %>, for <%= @no_passengers %> passengers </h2>
<h3>Departing <%=@booking.flight.departure_date%>, <%=@booking.flight.format_departure_time%></h3>
<h3>Flight time: <%= @booking.flight.duration%> minutes</h3>

<%= form_with model: @booking do |form|%>
  <%= form.hidden_field :flight_id, value: @booking.flight_id %>
  <h4>Passenger info:</h4>
    <%= form.fields_for :passengers do |passenger_form|%>
    <div>
    <%= passenger_form.label :first_name %>
    <%= passenger_form.text_field :first_name%>

    <%= passenger_form.label :last_name %>
    <%= passenger_form.text_field :last_name%>

    <%= passenger_form.label :address1 %>
    <%= passenger_form.text_field :address1%>

    <%= passenger_form.label :address2 %>
    <%= passenger_form.text_field :address2%>

    <%= passenger_form.label :address3 %>
    <%= passenger_form.text_field :address3%>

    <%= passenger_form.label :address4 %>
    <%= passenger_form.text_field :address4%>

    <%= passenger_form.label :address5 %>
    <%= passenger_form.text_field :address5%>

    <%= passenger_form.label :postcode %>
    <%= passenger_form.text_field :postcode%>

    <%= passenger_form.label :date_of_birth %>
    <%= passenger_form.date_field :date_of_birth%>
    </div>
  <% end %>

  <%= form.submit%>
<%end%>